<div class="dog clearfix">
  <% if (image) { %>
    <img class="dog-picture" src="data:image/jpeg;base64,<%- image %>">
  <% } else { %>
    <div class="dog-picture"></div>
  <% } %>
  <div class="dog-information">
    <div class="dog-header clearfix">
      <span class="dog-name"><%- name %></span>
      <div class="dog-edit glyphicon glyphicon-edit"></div>
    </div>
    <div class="dog-about">
      <div class="dog-info">
        <div><label>Full name:</label><span><%- fullname %></span></div>
        <div><label>Breed:</label><span><%- breed %></span></div>
        <div><label>Breeder:</label><span><%- breeder %></span></div>
      </div>
      <div class="dog-sports">
        <label class="sports">Sports:</label>
        <% for (var sport in sports) { %>
          <div><%- sports[sport] %></div>
        <% } %>
      </div>
    </div>
  </div>
</div>
