<div class="dogs-header-wrapper clearfix">
  <h4 class="dogs-header">My dogs</h4>
  <div class="dogs-actions">
    <span id="dogs-add" class="dogs-add">+</span>
  </div>
</div>
<div class="dogs">
  <div class="dog clearfix">
    <div class="dog-picture"></div>
    <div class="dog-information">
      <div class="dog-header clearfix">
        <span class="dog-name">TYYNE</span>
        <div class="dog-edit">EDIT</div>
      </div>
      <div class="dog-about">
        <div class="dog-info">
          <div><label>Breed:</label><span>Supreme</span></div>
          <div><label>Full name:</label><span>Supreme Dog</span></div>
          <div><label>Owner:</label><span>Hanna-Mari Kinnunen</span></div>
        </div>
        <div class="dog-sports">
          <label class="sports">Sports:</label>
          <div>Agility</div>
          <div>Obedience</div>
        </div>
      </div>
    </div>
  </div>
</div>
