<form class="login-form" id="login-form">
  <input name="username" type="email" placeholder="Sähköposti">
  <input name="password" type="password" placeholder="Salasana">
  <button class="submit" type="submit">Kirjaudu</button>
</form>
<form class="signup-form" id="signup-form">
  <input name="firstName" id="signup-firstName" type="text" placeholder="Etunimi">
  <input name="lastName" id="signup-lastName" type="text" placeholder="Sukunimi">
  <input class="email" id="signup-email" name="username" type="email" placeholder="Sähköposti">
  <input name="password" id="signup-password" type="password" placeholder="Salasana">
  <input name="confirmPassword" id="signup-confirmPassword" type="password" placeholder="Salasana uudelleen">
  <button class="submit" type="submit">Rekisteröidy</button>
</form>