<div class="hero-unit">
  <h3>Log in</h3>

  <form role="form" class="form-horizontal login-form" id="login-form">
    <div class="form-group">
      <label for="username" class="col-sm-3 control-label">Email</label>
      <div class="col-sm-9">
        <input id="username" name="username" type="email" class="form-control" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-3 control-label">Password</label>
      <div class="col-sm-9">
        <input name="password" type="password" class="form-control" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button class="submit btn btn-default" type="submit">Log in</button>
      </div>
    </div>
  </form>

  <h3>Register</h3>

  <form role="form" class="signup-form" id="signup-form">
    <div class="form-group">
      <label for="signup-firstName">First name</label>
      <input class="form-control" name="firstName" id="signup-firstName" type="text" placeholder="First name">
    </div>
    <div class="form-group">
      <label for="signup-lastName">Last name</label>
      <input class="form-control" name="lastName" id="signup-lastName" type="text" placeholder="Last name">
    </div>
    <div class="form-group">
      <label for="signup-email">Email</label>
      <input class="form-control email" id="signup-email" name="username" type="email" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="signup-password">Password</label>
      <input class="form-control" name="password" id="signup-password" type="password" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="signup-confirmPassword">Password again</label>
      <input class="form-control" name="confirmPassword" id="signup-confirmPassword" type="password" placeholder="Password again">
    </div>
    <button class="submit btn btn-success" type="submit">Register</button>
  </form>
</div>
