<div class="new-training">
  <form id="new">
    <div class="cover"></div>
    <div class="information">
      <div class="type">
        <span>Type:</span>
        <input type="radio" name="glyphicon" value="glyphicon glyphicon-camera"><label class="glyphicon glyphicon-camera"></label>
        <input type="radio" name="glyphicon" value="glyphicon glyphicon-star"><label class="glyphicon glyphicon-star"></label>
        <input type="radio" name="glyphicon" value="glyphicon glyphicon-bookmark"><label class="glyphicon glyphicon-bookmark"></label>
      </div>
      <div class="date clearfix"><span>Date:</span><input type="text" name="date" placeholder="Select a date"></div>
      <div class="goal clearfix"><span>Goal:</span><input type="text" name="goal"></div>
      <div class="description clearfix"><span>Description:</span><textarea name="description"></textarea></div>
    </div>
    <button class="btn btn-default submit">Submit</button>
  </form>
</div>
