<div class="show-training">
  <div class="training">
    <div class="training-edit action glyphicon glyphicon-edit">Edit</div>
    <div class="training-remove action glyphicon glyphicon-trash">Remove</div>
    <figure>
      <div class="placeholder">
      <% if (image) { %>
        <img class="cover" src="data:image/jpeg;base64,<%- image %>">
      <% } %>
      </div>
    </figure>
    <div class="information clearfix">
      <div class="date clearfix">
        <div class="glyphicon glyphicon-<%- type %> icon"></div>
        <span class="date"><%- date %></span>
      </div>
      <div class="with clearfix">
        <div class="dog-with">
          <img class="dog" src="data:image/jpeg;base64,<%- dog.image %>">
          <span><%- dog.name %></span>
        </div>
      </div>
      <div class="info">
        <div class="goal clearfix"><label>Goal:</label><span><%- goal %></span></div>
        <div class="description clearfix"><label>Description:</label><span><%- description %></span></div>
      </div>
    </div>
    <% if (results) { %>
      <div class="results">
        <div class="header">Results</div>
        <div><label>Goal:</label><% if (results.goal == 'yes') { %> <span class="success">Archieved</span> <% } else { %> <span class="fail">Failed</span> <% } %></div>
        <div class="points clearfix">
          <div class="positive">
            <div class="type"><span>Positive:</span></div>
            <% _.each(results.positive, function (positive) { %>
              <article>+ <%- positive %></article>
            <% }); %>
          </div>
          <div class="negative">
            <div class="type"><span>Negative:</span></div>
            <% _.each(results.negative, function (negative) { %>
              <article>- <%- negative %></article>
            <% }); %>
          </div>
        </div>
        <div><label>Mood:</label><span class="icon icon-<%- results.mood %>"></span></div>
      </div>
    <% } else { %>
      <span class="results-add btn btn-default">Add results</span>
    <% } %>
  </div>
</div>
