<div class="show-training">
  <div class="training-edit action glyphicon glyphicon-edit">Edit</div>
  <div class="training-remove action glyphicon glyphicon-trash">Remove</div>
  <figure>
    <div class="placeholder">
    <% if (image) { %>
      <img class="cover" src="data:image/jpeg;base64,<%- image %>">
    <% } %>
    </div>
  </figure>
  <div class="information">
    <div class="date clearfix"><label>Date:</label><span><%- date %></span></div>
    <div class="goal clearfix"><label>Goal:</label><span><%- goal %></span></div>
    <div class="description clearfix"><label>Description:</label><span><%- description %></span></div>
  </div>
</div>
