<div class="training-header-wrapper clearfix">
  <h4 class="training-header">Training sessions</h4>
  <div class="training-actions">
    <span class="training-add">+</span>
  </div>
</div>
<div class="training-sessions">
	<div class="training-session clearfix">
		<div class="training-picture"><div class="glyphicon glyphicon-camera"></div></div>
		<div class="training-information">
			<div class="time">05.02.2014</div>
			<div class="participant">
				<span class="name">Hanna-Mari Kinnunen</span>
				<span class="with">with Tyyne & Hilja</span>
			</div>
			<div>Focusing on speed on agile training. Goal was to finish the track under 1 minute and 30 seconds.</div>
		</div>
		<div class="training-arrow">
			<span class="arrow"></span>
		</div>
	</div>
	<div class="training-session">
		<div class="training-picture"><div class="glyphicon glyphicon-bookmark"></div></div>
		<div class="training-information">
			<div class="time">23.01.2014</div>
			<div class="participant">
				<span class="name">Hanna-Mari Kinnunen</span>
				<span class="with">with Tyyne</span>
			</div>
			<div>Training the stamina with long walk and with interval training.</div>
		</div>
		<div class="training-arrow">
			<span class="arrow"></span>
		</div>
	</div>
	<div class="training-session">
		<div class="training-picture"><div class="glyphicon glyphicon-star"></div></div>
		<div class="training-information">
			<div class="time">18.01.2014</div>
			<div class="participant">
				<span class="name">Hanna-Mari Kinnunen</span>
				<span class="with">with Hilja</span>
			</div>
			<div>Focusing on given orders. Hilja has to learn where to go and follow the guide all the time.</div>
		</div>
		<div class="training-arrow">
			<span class="arrow"></span>
		</div>
	</div>
</div>
