<div class="training-header-wrapper clearfix">
  <h4 class="training-header">Training sessions</h4>
  <div class="training-actions">
    <span class="training-add">+</span>
  </div>
</div>
<div class="training-sessions">
	<div class="training-session">
		<div class="training-arrow">
			<span class="arrow"></span>
		</div>
	</div>
	<div class="training-session">
		<div class="training-arrow">
			<span class="arrow"></span>
		</div>
	</div>
	<div class="training-session">
		<div class="training-arrow">
			<span class="arrow"></span>
		</div>
	</div>
</div>
