<div class="call-to-action section">
  <div class="wrapper">
    <div class="columns clearfix">
      <div class="column left">
        <h2>Keep track of your training status</h2>
        <p>The most important thing in successful dog training is to create goals for the trainings. Dog Training Diary is a tool with which you can easily create training plans for your dogs and comment them afterwards. This service will help you create and track your training plans with your dogs. You can add unlimited number of dogs for your account. You can select the hobbies of your dogs during the creating a dog or later on. It is easy to create new training sessions for selected dog and sports from the Sessions -section. Now you have all the tools needed for becoming a successful dog trainer.</p>
      </div>
      <div class="column right image">
        <i class="glyphicon glyphicon-picture"></i>
      </div>
    </div>
  </div>
</div>
<div class="features">
  <div class="register-dogs section">
    <div class="wrapper">
      <div class="columns clearfix">
        <div class="column left image">
          <i class="glyphicon glyphicon-cloud-upload"></i>
        </div>
        <div class="column right">
          <h2>Register your dogs</h2>
          <p>You can add all your dogs to the service by clicking the Dogs-link on the top of the screen and then clicking the plus-button. Then you need to fill the information about your dog to the form and save it. You can also edit your dog's details by clicking an icon on the top right corner of your dog's profile on the dog list page.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="training-sessions section">
    <div class="wrapper">
      <div class="columns clearfix">
        <div class="column left">
          <h2>Create new training sessions</h2>
          <p>It is very simple to create new training sessions for your dog. You can do it from the Sessions-view by clicking the plus-button. Then you need to select the dog for whom the session is intended and the sport. The goal of the session is the key to the successful training, so the service will ask that separately and after the goal you need to fill detailed plan for the session and save.</p>
        </div>
        <div class="column right image">
          <i class="glyphicon glyphicon-calendar"></i>
        </div>
      </div>
    </div>
  </div>
</div>
