<div class="call-to-action section">
  <div class="wrapper">
    <div class="columns clearfix">
      <div class="column left">
        <h2>Keep track of your training status</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="column right image">
        <i class="glyphicon glyphicon-picture"></i>
      </div>
    </div>
  </div>
</div>
<div class="features">
  <div class="register-dogs section">
    <div class="wrapper">
      <div class="columns clearfix">
        <div class="column left image">
          <i class="glyphicon glyphicon-cloud-upload"></i>
        </div>
        <div class="column right">
          <h2>Register your dogs</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="training-sessions section">
    <div class="wrapper">
      <div class="columns clearfix">
        <div class="column left">
          <h2>Create new training sessions</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="column right image">
          <i class="glyphicon glyphicon-calendar"></i>
        </div>
      </div>
    </div>
  </div>
</div>
