.dogs-header-wrapper {
  border-bottom: 1px solid #ccc;
  height: 50px;

  .dogs-header {
    margin-left: 10px;
    float: left;
    width: 45%;
  }
  .dogs-actions {
    float: right;
    margin-right: 25px;
    .dogs-add {
      font-size: 2.2em;
      cursor: pointer;
    }
  }
}

.dogs {
  .dog {
    min-height: 200px;
    width: 97%;
    margin: 10px auto 10px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    cursor: pointer;
    .dog-header {
      height: 30px;
      width: 100%;
      margin-bottom: 5px;
      .dog-name {
        font-size: 2.5em;

      }
      .dog-edit {
        float: right;
      }
    }
    .dog-picture {
      float: left;
      width: 120px;
      height: 150px;
      margin-top: 25px;
    }
    .dog-information {
      float: left;
      width: 65%;
      margin-left: 15px;

      .dog-about {
        width: 100%;
        margin-top: 20px;
        .dog-info {
          width: 50%;
          height: 100%;
          float: left;
          label {
            display: block;
            font-weight: 100;
            font-size: 1em;
            margin: 0;
            color: rgba(0,0,0,.6);
          }
          span {
            font-size: 1.4em;
          }
        }
        .dog-sports {
          width: 30%;
          height: 100%;
          float: left;
          margin-left: 30px;
          .sports {
            color: rgba(0,0,0,.6);
            font-weight: 100;
          }
          > div {
            font-size: 1.4em;
          }
        }
      }
    }
  }
}

.new-dog {
  margin: 0 auto;
  width: 80%;
  form {
    margin-top: 50px;
  }
  .wrapper {
    max-width: 500px;
  }
  .placeholder {
    border: 2px dashed #ccc;
    width: 200px;
    height: 200px;
    margin: 0 0 10px 0;
    img {
      width: 100%;
      height: 100%;
    }
  }
  figure {
    float: left;
    margin-top: 25px;
    input[type="file"] {
      width:200px;
    }
  }
  .information {
    float: right;
    width: 250px;
  }
}
