.show-training {
  width: 96%;
  margin: 0 auto;
  .action {
    float: right;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
    &:before {
      margin-right: 10px;
    }
    &:hover {
      background: #eee;
    }
  }
  .cover {
    height: 200px;
    width: 100%;
    max-width: 600px;
    background-color: #EEE;
    margin: 20px 0 20px;
  }
  .type {
    margin-bottom: 10px;
    span {
      width: 95px;
      display: inline-block;
    }
  }
  .details {
    float: left;
    width: 20%;
    .type {
      .icon {
        font-size: 6em;
      }
      .sport {
        font-size: 2em;
      }
    }
    .dogs {
      .header {
        font-size: 1.3em;
      }
    }
    .trainers {
      .header {
        font-size: 1.3em;
      }
    }
    .location {
      .header {
        font-size: 1.3em;
      }
    }
  }
  .training {
    float: left;
    .cover {
      height: 200px;
      width: 100%;
      max-width: 600px;
      background-color: #EEE;
      margin: 0 0 20px;
    }
    .goal, .description, .date {
      margin-bottom: 10px;
      label {
        float: left;
        width: 100px;
        font-weight: 100;
        font-size: 1.2em;
      }
      span {
        float: left;
        width: 280px;
        @media (min-width: 40rem) {
          width: 450px;
        }
      }
    }
    .results {
      font-size: 1.2em;
      margin-top: 50px;
      > div {
        margin-bottom: 10px;
      }
      label {
        width: 100px;
        font-weight: 100;
      }
      .header {
        font-size: 1.2em;
        border-bottom: 1px solid rgba(0,0,0,.1);
      }
      .success {
        color: #228B22;
      }
      .fail {
        color: #FF3333;
      }
      .positive, .negative {
        width: 100%;
        float: left;
        margin-bottom: 10px;
        @media (min-width: 40rem) {
          width: 50%;
        }
        label {
          border-bottom: 1px solid rgba(0,0,0,.1)
        }
      }
      .icon {
        font-size: 2.5em;
      }
    }
  }
}
