.show-training {
  width: 96%;
  margin: 0 auto;
  .action {
    float: right;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
    &:before {
      margin-right: 10px;
    }
    &:hover {
      background: #eee;
    }
  }
  .cover {
    height: 200px;
    width: 100%;
    max-width: 600px;
    background-color: #EEE;
    margin: 20px 0 20px;
  }
  .type {
    margin-bottom: 10px;
    span {
      width: 95px;
      display: inline-block;
    }
  }
  .training {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    .cover {
      height: 200px;
      width: 100%;
      max-width: 600px;
      background-color: #EEE;
      margin: 0 0 20px;
    }
    .information {
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(0,0,0,.1);
    }
    .info {
      float: left;
    }
    .goal, .description, .date {
      margin-bottom: 10px;
      label {
        width: 100px;
        font-weight: 100;
        font-size: 1em;
        color: rgba(0,0,0,0.5);
        margin-top: 3px;
        display: block;
      }
      .icon {
        float: left;
        font-size: 3em;
        margin-right: 10px;
      }
      .date {
        margin-top: 10px;
        font-size: 1.4em;
      }
      span {
        float: left;
        width: 280px;
        font-size: 1.4em;
        @media (min-width: 40rem) {
          width: 450px;
        }
      }
    }
    .with {
      margin-bottom: 10px;
      float: left;
      .dog-with {
        float: left;
        img {
          display: block;
          width: 60%;
        }
        span {
          font-size: 1.4em;
        }
      }
    }
    .results {
      font-size: 1em;
      margin-top: 30px;
      > div {
        margin-bottom: 10px;
      }
      label {
        width: 100px;
        font-weight: 100;
        font-size: 1em;
        color: rgba(0,0,0,0.5);
      }
      .header {
        font-size: 1.5em;
      }
      label {
        display: block;
      }
      .success, .fail {
        font-size: 1.4em;
      }
      .success {
        color: #228B22;
      }
      .fail {
        color: #FF3333;
      }
      .points {
        padding-top: 20px;
        padding-bottom: 20px;
        .positive, .negative {
          width: 100%;
          float: left;
          margin-bottom: 10px;
          @media (min-width: 40rem) {
            width: 50%;
          }
          .type {
            text-align: center;
            color: rgba(0,0,0,.5);
          }
          article {
            font-size: 1.2em;
          }
        }
      }
      .icon {
        font-size: 3em;
      }
    }
  }
}
